<div class="login-form">
  <h3>Login</h3>
  <div *ngIf="loginFailed" class="alert alert-danger">
    Invalid login, try again!
  </div>
  <div class="row">
    <div class="form col col-12">
      <form>
        <div class="form-group row">
          <label class="offset-3 col-2 col-form-label">User Name: </label>
          <div class="col-4">
            <input
              name="userName"
              [(ngModel)]="userName"
              (ngModelChange)="userValueChanged()"
              class="form-control"
              type="text"
            />
            <div *ngIf="userNameError" class="alert alert-danger">
              Uesr name is required.
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="offset-3 col-2 col-form-label">Password: </label>
          <div class="col-4">
            <input
              name="password"
              [(ngModel)]="password"
              (ngModelChange)="passValueChanged()"
              class="form-control"
              type="password"
            />
            <div *ngIf="passwordError" class="alert alert-danger">
              Password is required.
            </div>
          </div>
        </div>
        <div class="form-group row">
          <button (click)="login()" class="offset-6 btn btn-primary">
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
