@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
  <link href="~/css/home.css" rel="stylesheet">
}

<div class="logo-box">
    <img class="logo" src="https://cdn5.vectorstock.com/i/1000x1000/68/44/car-logo-with-circle-hand-colorful-logo-vector-22266844.jpg">
</div>

<div class="header">
    <h1 class="display-4">Smart Rental</h1>
</div>


