body {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 62.5%;
}

h1 {
  font-size: 2rem;
  text-transform: uppercase;
  margin:0px;

}
.site-header {
  background-image: url(img/background.jpg);
  background-size: cover;
  background-position: left center;
  color: white;
  height: 60vh;
}


.site-header-contact {
  background: #343331;
  color: white;
  height: 40vh;

}

.logo {
  width: 10%;
}

.content-header {
  display:flex;
  justify-content: space-between;
}

nav {
  background: #585858;
  padding:1.5rem;
  border-radius: .5rem;
  opacity: .7;
}

.nav-link {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
  padding: 1rem;

}
nav a {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
  padding: 1rem;

}

nav a:hover {
  color:rgb(5,9,101);
}

.main-header {
  display:flex;
  justify-content: space-between;
  flex-direction: column;
  height: 90%;
  padding: 2rem;
}

h2 {
  font-size: 1.3rem;
}

.section-location {
  display: flex;
  justify-content: space-between;
  padding: 2rem;

}

.img-loc {
  width: 80%;
  border: 1px solid #ededcd;
  padding:.5rem;
  border-radius: .5rem;
}

.text-location {
  font-size: 1.1rem;
}

.banner {
  height: 20rem;
  background-image: url(img/banner.jpg);
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
}

h3 {
  color: white;
  font-size: 3rem;
}

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.news {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin:1rem;
}

.square {
  flex-basis: calc(33% - 1rem);
  padding: 1rem;
}

.news-img {
  width: 20rem;
  margin: 0px;  
}

.news-img:hover {
  transform:scale(1.1);
  border-bottom: 5px solid #e4d506;
}

h4 {
  text-transform: uppercase;
  color: #343331;
  font-size: 1rem;
}

h5 {
  text-transform: none;
  font-size: 1.3rem;
}

h6 {
  background: #e4d506;
  color: black;
  font-size: 1.2rem;
  padding: 1rem;
  width: 5rem;
}

h6:hover {
  transform: scale(1.1);
}

.square-text {
  text-align: center;
}

.button-news {
  text-align: center;
  margin-left: auto;
  display: flex;
  justify-content: center;
}

input[type="text"],textarea,input[type="password"],input[type="url"] {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.3rem;
  width: 70%;
  background-color: #e1e1e1;
  padding: .3rem;
  border-radius: 1rem;
  border: none;
}

legend, label {
  font-size: 1.3rem;
  color: #000000;
}


fieldset {
  border-radius: 1rem;
  border: 1px solid black;
  margin: 1rem;
}

input[type="checkbox"] {
  top: 0;
  left: 0;
  width: 2rem;
  height: 2rem;
  padding-left: 3.5rem;
  margin-bottom: 1.2rem;
  background-color: #e1e1e1;
  font-size: 1.8rem;
  cursor: pointer;
}

.pdf-div {
  width: 50rem;
  height: 30rem;
  border: 1px solid black;
  margin: 0 auto;
  background: #e1e1e1;
}