body {
  font-family: 'MedievalSharp', cursive;
}

.header-site {
  background-image: url(img/background.jpg);
  background-size: cover;
  background-position: center center;
  height: 40vh;
  border-bottom: 50px solid green;
  color:white;
  font-size: 30px;
}


h1 { 
  background: rgba(0, 0, 0, .5);
  border-radius: 10px;
}

.header-site .wrap {
  padding: 40px;
  text-align: center;
}

.wrap-main {
  display: flex;
  justify-content: center;
}

.square {
  background: rgba(218, 217, 217, 0.4);
  flex-basis: calc(40% - 1 rem);
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid black;
  text-align: center;
}

.img-c {
  width:100px;
}

.btn {
  background: #d70303;
  width:  100px;
}

#gameMenu {
  height: 10;
  flex-basis: calc(40% - 1 rem);
  text-align: center;
  display:none;
}