body {
  background-color:  #363840;
  color: #45a5fe;
}

h4 {
  text-align: center;
  color: #45a5fe;
  margin-top:20px;
  margin-bottom: 20px;
  margin-left: 50px;
}

label {
  text-align: right;
}

nav {
  box-shadow: 0px 2px 4px #45a5fe;
}

.btn-container {
  text-align: center;
}

.hide {
  display: none;
}

.message-sent {
  border: 1px solid #11ca00;
  background-color:#2ecc71;
  margin-bottom: 10px;
}

.message-sent h6 {
  color: #45a5fe;
  text-align: center;
}