body {
  background-color:  #363840;
  color: #45a5fe;
}

h4 {
  text-align: center;
  color: rgb(0,95,173);
  margin-top:20px;
  border-bottom: 1px solid #45a5fe;
}

label {
  text-align: right;
}


.btn-container {
  text-align: center;
}

.hide {
  display: none;
}

.message-sent {
  border: 1px solid #11ca00;
  background-color:#2ecc71;
  margin-bottom: 10px;
}

.message-sent h6 {
  color: #45a5fe;
  text-align: center;
}