.background {
  --background: linear-gradient(153deg, rgba(47,47,47,1) 0%, rgba(91,91,91,1) 100%);
}


ion-card {
  background-color: #2f2f2f;
  border-bottom: 1px solid #2f2f2f;
  margin-top: 12px;
  margin-bottom: 12px;
}

ion-card-header {
  background-color: #2f2f2f;
  color: #45a5fe;
}

ion-item {
  color: #45a5fe;
  --ion-background-color: #2f2f2f;
  background: #2f2f2f;
}

ion-card-title {
  font-size: 20px;
  color: #45a5fe;
}

ion-card-subtitle {
  color: #45a5fe;
  text-align: right;
  text-transform: none;
  width: 50%;
  display: inline-block;
}

ion-card-content {
  padding-top: 5px;
}

ion-option {
  color: #45a5fe;
  --ion-color: #45a5fe;
  --ion-background-color: #2f2f2f;
  background: #2f2f2f;
}